{% extends 'base.html.twig' %}
{% block title %} Jessica Total Wellness Concept - Niveau de récompense du bonus générationnel {% endblock %}
{% block page_title %} Niveau de récompense du bonus générationnel {% endblock %}
{% block main %}
    <div class="col-lg-12">
        <div class="content-panel">
		    {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{type}}">{{message}}</div>
                {% endfor %}
            {% endfor %}
			<h4>
                {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
                    <a href="{{ path('level_bonus_generationnel_new') }}"><button type="button" class="btn btn-primary"><span class="fa fa-plus-circle"></span>Ajouter un niveau</button></a>
                {% endif %}
            </h4>         
            <section id="unseen">
                <table class="display table table-bordered">
                    <thead>
                    <tr>
                        <th>Level</th>
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for levelBG in levelBGs %}
                        <tr>
                            <td>{{ levelBG.lvl }}</td>
                            {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
                                <td>
                                    <a href="{{ path('level_bonus_generationnel_edit', {'id': levelBG.id})}}" title="Edit" class="btn btn-info btn-xs"><span class="fa fa-edit"></span></a>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#lvlBGDeleteDialog{{levelBG.id}}"><span class="fa fa-remove"></span>
                                    </button>
                                    <div class="modal fade" id="lvlBGDeleteDialog{{levelBG.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez vous vraiment supprimer ce niveau de récompense du générationnel ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Abandonner</button>
                                                    <form action="{{ path('level_bonus_generationnel_edit', {'id': levelBG.id }) }}" method="post">
                                                        <button type="button" class="btn btn-danger">Confirmer</button>
                                                        <input type="hidden" name="_jtwc_level_bonus_generationnel_token"  value="{{ csrf_token('jtwc_level_bonus_generationnel-delete'~levelBG.id) }}" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr><td {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %} colspan="2" {% else %} colspan="1" {% endif %}>Pas de recompense de bonus générationnel enregistré pour l'instant</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}