{% extends 'base.html.twig' %}
{% block title %}
	JTWC - Payer sa facture
{% endblock %}
{% block page_title %}
	Payer sa facture avec {% if operateur == 1 %}
        MTN Mobile Money
        {% elseif operateur == 2 %}
        Orange Money
        {% elseif operateur == 3 %}
        Express Union Mobile
    {% endif %}
{% endblock %}
{% block main %}
	<div class="col-lg-12">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{type}}">{{message}}</div>
            {% endfor %}
        {% endfor %}
		<a class="btn btn-info w-200 mb-3" href="{{ path('user_cart_create') }}"> Changer de moyen de paiment
		</a>
        <div class="row mt-4">
            <!-- List of items -->
            <div class="col-md-offset-1 col-md-10" style="margin-top: 2rem;">
                    {{form_start(form)}}
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(form.telephone, null, { 'label_attr':  {
                                    'class': 'col-lg-3 control-label'
                                }}
                                ) }}
                            <div class="col-lg-9">
                                {{ form_errors(form.telephone) }}
                                {{ form_widget(form.telephone, { 'attr':  {
                                        'class': 'form-control' ~ (form.telephone.vars.valid ? '' : 'is-invalid')
                                    }})
                                }}
                                {{ form_help(form.telephone) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.telephone) }}
                                </div>
                            </div>
                        </div>
                    </div>    
                        {% if form.otpCode is defined %}
                        <div class="row">
                            <div class="form-group">
                                {{ form_label(form.otpCode, null, { 'label_attr':  {
                                        'class': 'col-lg-3 control-label'
                                    }}
                                    ) }}
                                <div class="col-lg-9">
                                    {{ form_errors(form.otpCode) }}
                                    {{ form_widget(form.otpCode, { 'attr':  {
                                            'class': 'form-control'
                                        }})
                                    }}
                                    <small>Veuillez composer sur votre téléphone portable le code : <strong>#150*4*4#</strong> afin d'obtenir votre code OTP</small>
                                </div>
                            </div>
                            
                        </div>

                        {% endif %}
                        <div style="margin-top: 1.5rem" class="form-group">
                            <div class="col-lg-offset-6 col-lg-2">
                                <input type="submit" name="submit" class="btn btn-warning" value="Payer" />
                            </div>                
                        </div>
                    {{form_end(form)}}
            </div>

                    <!-- Summary -->
            <div class="col-md-10 col-md-offset-1">
                <div class="card mt-4 mt-md-0">
                    <h5 class="card-header bg-dark text-white">Récapitulatif</h5>
                    <ul class="list-group">
                        {% for cp in cart.products %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ cp.product.name }} (FCFA {{ cp.product.distributorPrice }})
                                <span class="badge badge-primary badge-pill">{{ cp.quantity }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <b>Total</b>
                        </div>
                        <span>
                            <b>{{ cart.totalDistributorWithoutShippingCost }} FCFA</b>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
	</div>
{% endblock %}
