{% extends 'base.html.twig' %}
{% block title %}
	JTWC - Payer sa facture: Confirmation du paiement
{% endblock %}
{% block page_title %}
	Valider le processus de paiement initié avec {% if operateur == 1 %}
        MTN Mobile Money
        {% elseif operateur == 2 %}
        Orange Money
        {% else %}
        Express Union Mobile
    {% endif %}
{% endblock %}
{% block main %}
	<div class="col-lg-12">
        <div class="row mt-4">
                    <!-- List of items -->
            <div class="col-md-offset-1 col-md-10" style="margin-top: 2rem; margin-bottom: 2rem;">
                    {{form_start(form)}}
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(form.rcs, null, { 'label_attr':  {
                                    'class': 'col-lg-3 control-label'
                                }}
                                ) }}
                            <div class="col-lg-9">
                                {{ form_errors(form.rcs) }}
                                {{ form_widget(form.rcs, { 'attr':  {
                                        'class': 'form-control'
                                    }})
                                }}
                                <small>Veuillez saisir le code réçu par SMS sur votre téléphone portable</small>
                            </div>
                        </div>
                    </div>
                        <div style="margin-top: 1.5rem" class="form-group">
                            <div class="col-lg-offset-6 col-lg-2">
                                <input type="submit" name="submit" class="btn btn-warning" value="Valider le paiement" />
                            </div>
                        </div>
                    {{form_end(form)}}
            </div>

                    <!-- Summary -->
            <div class="col-md-offset-1 col-md-10" style="margin-top: 2rem; margin-bottom: 2rem;">
                <div class="card mt-4 mt-md-0">
                    <h5 class="card-header bg-dark text-white">Récapitulatif</h5>
                    <ul class="list-group">
                        {% for cp in cart.products %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ cp.product.name }} (FCFA {{ cp.product.distributorPrice }})
                                <span class="badge badge-primary badge-pill">{{ cp.quantity }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <b>Total</b>
                        </div>
                        <span>
                            <b>{{ cart.totalDistributorWithoutShippingCost }} FCFA</b>
                        </span>
                    </li>
                </ul>
            </div>

        </div>
	</div>
{% endblock %}
