{% extends 'base.html.twig' %}
{% block title %} Jessica Total Wellness Concept - Les bonus générationnels associés à chaque grade {% endblock %}
{% block page_title %} Les bonus générationnels associés à chaque grade {% endblock %}
{% block main %}
    <div class="col-lg-12">
        <div class="content-panel">
		    {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{type}}">{{message}}</div>
                {% endfor %}
            {% endfor %}
			<h4>
                {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
                    <a href="{{ path('grade_bg_new') }}"><button type="button" class="btn btn-primary"><span class="fa fa-plus-circle"></span>Définir le bonus générationnel d'un grade</button></a>
                {% endif %}
            </h4>         
            <section id="unseen">
                <table class="display table table-bordered" id="table-info">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Grade</th>
                        <th>Level</th>
                        <th>Nom</th>
                        <th>Valeur</th>
                        <th>Activé</th>
                        <th>Debut</th>
                        <th>Fin</th>
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for grade_bg in grade_bgs %}
                        <tr>
                            <td>{{ grade_bg.id }}</td>
                            <td>{{ grade_bg.grade.commercialName }}</td>
                            <td>{{ grade_bg.lvl.lvl }}</td>
                            <td>{{ grade_bg.name }}</td>
                            <td>{{ grade_bg.value }}</td>
                            <td>{% if grade_bg.status %} OUI {% else %} NON {% endif %} </td>
                            <td>{{ grade_bg.startedAt|date('d/m/Y') }}</td>
                            <td>{% if grade_bg.endedAt is not null %}{{ grade_bg.endedAt|date('d/m/Y') }}{% endif %}</td>
                            {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
                                <td>
                                    <a href="{{ path('grade_bg_edit', {'id': grade_bg.id})}}" title="Edit" class="btn btn-info btn-xs"><span class="fa fa-edit"></span></a>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#grade_bgDeleteDialog{{grade_bg.id}}"><span class="fa fa-remove"></span>
                                    </button>
                                    <div class="modal fade" id="grade_bgDeleteDialog{{grade_bg.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez vous vraiment supprimer ce bonus générationnel associé à ce grade ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Abandonner</button>
                                                    <form action="{{ path('grade_bg_delete', {'id': grade_bg.id }) }}" method="post">
                                                        <button type="button" class="btn btn-danger">Confirmer</button>
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_jtwc_grade_bg_token"  value="{{ csrf_token('jtwc_grade_bg-delete'~grade_bg.id) }}" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr><td {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %} colspan="8" {% else %} colspan="7" {% endif %}>Pas de SV associé à ce grade</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}