{% extends 'base.html.twig' %}
{% block title %} Jessica Total Wellness Concept - Les noms de composition de produits des packs de souscription {% endblock %}
{% block page_title %} Les noms de composition de produits des packs de souscription {% endblock %}
{% block main %}
    <div class="col-lg-12">
        <div class="content-panel">
		    {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{type}}">{{message}}</div>
                {% endfor %}
            {% endfor %}        
            <h4>
                {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
                    <a href="{{ path('composition_membership_product_new') }}"><button type="button" class="btn btn-primary"><span class="fa fa-plus-circle"></span>Ajouter un nom de composition de pack</button></a>
                {% endif %}
            </h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th class="numeric">N°</th>
                        <th>Code</th>
                        <th>Nom</th>
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for nameComposition in nameCompositions %}
                            <tr>
                                <td class="numeric">{{ nameComposition.id }}</td>
                                <td>{{ nameComposition.code }}</td>
                                <td>{{ nameComposition.name }}</td>
                                {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
                                    <td>
                                        <a href="{{ path('composition_membership_product_edit', {'id': nameComposition.id})}}" title="Edit" class="btn btn-info btn-xs"><span class="fa fa-edit"></span></a>
                                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#name_compositionDeleteDialog{{nameComposition.id}}"><span class="fa fa-remove"></span>
                                        </button>
                                        <div class="modal fade" id="name_compositionDeleteDialog{{nameComposition.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Voulez vous vraiment supprimer le nom de composition de pack ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Abandonner</button>
                                                        <form action="{{ path('composition_membership_product_delete', {'id': nameComposition.id }) }}" method="post">
                                                            <button type="button" class="btn btn-danger">Confirmer</button>
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_jtwc_pack_name_composition_token"  value="{{ csrf_token('jtwc_pack_name_composition-delete'~nameComposition.id) }}" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        <!-- /content-panel -->
    </div>
{% endblock %}
