{% extends 'base.html.twig' %}
{% block title %}Modification du produit : {{ form.code.vars.value }} - RACS Health Global{% endblock %}
{% block page_title %}Modification du produit : {{ form.code.vars.value }}{% endblock %}

{% block main %}
<div class="space-y-5 -m-5 sm:-m-6">
  {% include 'back/webcontroller/product/_form.html.twig' with {'form': form} %}
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('fieldset') }}
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('fieldset') }}
{% endblock %}
