{% extends 'base.html.twig' %}
{% block title %}
	Jessica Total Wellness Concept - Constitution du {{ membership.name }}
{% endblock %}

{% block page_title %}
	Constitution du {{ membership.name }}
{% endblock %}

{% block main %}
	<div class="col-lg-12">
		<div class="content-panel">
		    {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{type}}">{{message}}</div>
                {% endfor %}
            {% endfor %}
			<h4>
				{% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
					<a href="{{ path('membership_product_new', {'code': membership.code})}}">
						<button type="button" class="btn btn-primary">
							<span class="fa fa-plus-circle"></span>Paramétrer la quantité de produits du pack {{membership.name}} 
						</button>
					</a>
				{% endif %}
            </h4>
			<section id="unseen">
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>Pack</th>
							<th>Produit</th>
							<th>Quantité</th>
							{% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
								<th>Actions</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for code, memberships_product in membership_products %}
							<tr>
								<td {% if memberships_product|length > 1 %}
                                    rowspan="{{memberships_product|length}}"
                                {% endif %} >{{ code }}</td>
								<td>{{ memberships_product[0]['product'] }}</td>
								<td>{{ memberships_product[0]['quantity'] }}</td>
								{% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
									<td>
										<a href="{{ path('membership_product_edit', {'id': memberships_product[0]['id']})}}" title="Edit" class="btn btn-info btn-xs">
											<span class="fa fa-edit"></span>
										</a>
										<button
											type="button"
											class="btn btn-danger btn-xs"
											title="Delete"
											data-toggle="modal"
											data-target="#membershipDeleteDialog{{memberships_product[0]['id']}}">
											<span class="fa fa-remove"></span>
										</button>
										<div
											class="modal fade"
											id="membershipDeleteDialog{{memberships_product[0]['id']}}"
											tabindex="-1"
											role="dialog"
											aria-labelledby="myModalLabel"
											aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
														<h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
													</div>
													<div class="modal-body">
														Voulez vous vraiment supprimer cette valeur ?
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Abandonner</button>
														<form action="{{ path('membership_product_delete', {'id': memberships_product[0]['id'] }) }}" method="post">
															<button type="button" class="btn btn-danger">Confirmer</button>
															<input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_jtwc_membership_product_token" value="{{ csrf_token('jtwc_membership_product-delete'~memberships_product[0]['id']) }}"/>
														</form>
													</div>
												</div>
											</div>
										</div>
									</td>
								{% endif %}
							</tr>
                            {% if memberships_product|length > 1 %}
                                {% for membership_product in memberships_product|slice(1, memberships_product|length) %}
                                    <tr>
                                        <td>{{ membership_product['product'] }}</td>
                                        <td>{{ membership_product['quantity'] }}</td>
                                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_JTWC_ADMIN') %}
                                            <td>
                                                <a href="{{ path('membership_product_edit', {'id': membership_product['id']})}}" title="Edit" class="btn btn-info btn-xs">
                                                    <span class="fa fa-edit"></span>
                                                </a>
                                                <button
                                                    type="button"
                                                    class="btn btn-danger btn-xs"
                                                    title="Delete"
                                                    data-toggle="modal"
                                                    data-target="#membershipDeleteDialog{{membership_product['id']}}">
                                                    <span class="fa fa-remove"></span>
                                                </button>
                                                <div
                                                    class="modal fade"
                                                    id="membershipDeleteDialog{{membership_product['id']}}"
                                                    tabindex="-1"
                                                    role="dialog"
                                                    aria-labelledby="myModalLabel"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                Voulez vous vraiment supprimer cette valeur ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Abandonner</button>
                                                                <form action="{{ path('membership_product_delete', {'id': membership_product['id'] }) }}" method="post">
                                                                    <button type="button" class="btn btn-danger">Confirmer</button>
        															<input type="hidden" name="_method" value="DELETE">                                                                    
                                                                    <input type="hidden" name="_jtwc_membership_product_token" value="{{ csrf_token('jtwc_membership_product-delete'~membership_product['id']) }}"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endif %}
						{% else %}
                            <tr>
                                <td colspan="4">Aucune valeur définie pour l'instant</td>
                            </tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
		</div>
	</div>
{% endblock %}